body {
    height: 100vh;
    display: grid;
    align-items: center;
}

#boxone {
    grid-area: one;
}

#boxtwo {
    grid-area: two;
}

#boxthree {
    grid-area: three;
}

h2 {
    color: blue;
    margin: 0;
    border-bottom: 1px dashed #999;
}

@media (min-width: 32.5em) {
    h2 {
        color: red;
    }
}

@media (min-width: 64em) {
    h2 {
        color: green;
    }
}

section {
    margin: 10px auto;
    width: 400px;
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 7px;
}

.box {
    border: 2px solid grey;
    margin: 7px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-areas: 'one' 'two' 'three'
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
        grid-template-areas: 'one two' 'three three'
    }
}

@media only screen and (min-width: 901px) {
    body {
        grid-template-areas: 'one two three'
    }
}